.App {
  text-align: center;
  background-image: url("bgk.gif");
  background-size: cover;
  /* background-color: #121212; */
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 70px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
.game {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  height: 200px;
}

.board {
  width: 80vw;
  height: 44vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 1px;
}

.letter {
  flex: 33%;
  height: 7vh;
  border: 1px solid grey;
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 90vw;
  height: 130vh;
  margin-top: 60px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  padding: 5px;
  width: 35px;
  height: auto;
  margin: 2px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 18px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.gameOver {
  width: 100vw;
  height: 100vh;
  margin-top: 32px;
}

.gameOver1 {
  margin-top: 20px;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}

.coba-lagi {
  background-color: #4caf50; /* Warna latar belakang */
  color: white; /* Warna teks */
  padding: 10px 20px; /* Padding tombol */
  font-size: 16px; /* Ukuran font */
  border: none; /* Tanpa border */
  cursor: pointer; /* Kursor berubah menjadi tangan saat di atas tombol */
  border-radius: 5px; /* Sudut bulat */
}

/* Efek hover */
.coba-lagi:hover {
  background-color: #45a049; /* Warna latar belakang saat dihover */
}

@media screen and (min-width: 992px) {
  .game {
    padding-top: 25px;
    height: calc(110vh - 170px);
  }

  .board {
    width: 400px;
    height: 550px;
  }

  .keyboard {
    width: 550px;
    height: 300px;
    margin-top: 30px;
  }

  .key {
    padding: 0px;
    width: 50px;
    height: 50px;
    margin: 5px;
  }

  .gameOver {
    width: 100vw;
    height: 50vh;
  }

  .letter {
    height: 100%;
  }

  .row {
    margin: 5px;
  }
}
